<!-- app/views/visit_forms/_critere_fields.html.erb -->
<div class="nested-fields">
  <% @visit_form.bookings.each do |booking| %>
    <div class="card-criteres" data-controller="photo-preview">
      <% if current_user == booking.user %>
        <p>Critère : <b><%= f.object.question %></b></p>
        <%= f.input :answer, label: false %>
        <%="votre photo:" %>
        <br>
        <div class="d-flex align-items-center">
          <%= image_tag "", width: 300, class: "photo-edit d-none", data: { photo_preview_target: "preview" } %>
          <label class="custom-file-upload">
            <span class="plus-icon">+</span>
            <%= f.file_field :photos, as: :file, class: 'hidden-file-input', data: { photo_preview_target: "input", action: "change->photo-preview#displayPreview" } %>
          </label>
        </div>
        <p><span data-photo-preview-target="span">0</span> photo téléchargée</p>
      <% end %>
    </div>
  <% end %>
</div>
