
<div class="content">
  <div class="containernewvisit">
    <h1 class="titre-form">Complète le compte-rendu de visite !</h1>
    <div class="form">
        <%= simple_form_for [@visit_form], html: { class: 'visit-form' } do |f| %>
          <div class="card-visit">
            <h2><%= f.object.title%></h2>
            <h6><b>Nombre de pièce :</b> <%= f.object.rooms_number%></h6>
            <h6><b>Localisation :</b></h6>
            <p><%= f.object.address%></p>
            <%if f.object.description.present? %>
              <h6><b>Description du bien :</b></h6>
              <p><%= f.object.description%></p>
            <%end%>
            <p class="truncate-text"><a href="<%= f.object.url %>">Lien vers l'annonce</a></p>
          </div>

          <b><%= f.input :date, label: 'Date de la visite', as: :string,
          input_html: { data: { controller: "datepicker" } } %></b>

          <h6><b>Description du bien :</b></h6>
          <%= f.input :description, label: false, input_html: { rows: 3 }, placeholder: "", input_html: { class: 'custom-placeholder' }%>

          <% counter = 0  %>
          <% @visit_form.rooms.each do |room|  %>
            <% counter += 1 %>
            <h4>Pièce <%= counter %></h4>

            <div class="card-room" data-controller="photo-preview">
              <div class="nested-fields">
                <input class="custom-input" type="text" name="rooms_names[<%= room.id %>]" placeholder="Nom de la pièce" value="<%= room.name %>" label="Nom de la pièce" />
                <input class="custom-input" type="text" name="rooms_descriptions[<%= room.id %>]" placeholder="Description de la pièce" value="<%= room.description %>" label="Description de la pièce" />
                <div class="d-flex align-items-center">
                  <img image_tag="" class="photo-edit d-none" data-photo-preview-target="preview" >
                  <label for="photo-<%= room.id %>" class="custom-file-upload"><span class="plus-icon">+</span></label>
                  <input class="d-none" id="photo-<%= room.id %>" type="file" name="rooms_photos[<%= room.id %>][]" multiple placeholder="Photos de la pièce" label="Photos de la pièce" data-photo-preview-target="input" data-action="change->photo-preview#displayPreview" />
                </div>
                <p><span data-photo-preview-target="span">0</span> photos téléchargées</p>
              </div>
              <br>
              <%= f.file_field :"rooms_attributes[#{room.id}][photos]", as: :file, class: 'hidden-file-input', label: "Photo(s) de la pièce #{room.id + 1}" %>
              </label>
            </div>
          <% end %>

          <%= f.simple_fields_for :criteres do  |critere|%>
            <%= render 'critere_fields_edit', f: critere, visit_form_user: @visit_form_user %>
          <%end%>

          <%= f.button :submit, 'Envoyer le compte-rendu', class: 'btn-submit', onclick: "return confirm('Êtes-vous sûr de vouloir envoyer le compte-rendu ?');" %>

        <% end %>
    </div>
  </div>
</div>
