<div class="containernewvisit">
  <h1 class="titre-form">Complète le compte-rendu de visite !</h1>
  <div class="form">
      <%= simple_form_for [@visit_form], html: { class: 'visit-form' } do |f| %>
        <div class="card-visit">
          <h2><%= f.object.title%></h2>
          <br>
          <h6><b>Nombre de pièce :</b></h6>
          <p><%= f.object.rooms_number%></p>
          <h6><b>Localisation :</b></h6>
          <p><%= f.object.address%></p>
          <%if f.object.description.present? %>
            <h6><b>Description du bien :</b></h6>
            <p><%= f.object.description%></p>
          <%end%>
          <p class="truncate-text"><a href="<%= f.object.url %>"><%= f.object.url %></a></p>
        </div>

        <%= f.input :date, label: 'Date de la visite', as: :string,
            input_html: { data: { controller: "datepicker" } } %>
        <%= f.simple_fields_for :rooms do |room|%>
          <%= render 'room_fields', f: room%>
        <%end%>

        <%= f.simple_fields_for :criteres do |critere|%>
          <%= render 'critere_fields_edit', f: critere, visit_form_user: @visit_form_user %>
        <%end%>

        <%= f.button :submit, 'Envoyer le compte-rendu', class: 'btn-submit', onclick: "return confirm('Êtes-vous sûr de vouloir envoyer le compte-rendu ?');" %>

      <% end %>
  </div>
</div>
