<h1>Ajoute ta demande de visite !</h1>
  <div class="containernewvisit"
   data-controller="address-autocomplete"
   data-address-autocomplete-api-key-value=<%= ENV["MAPBOX_API_KEY"] %>>
    <div class="row">
        <%= simple_form_for [@visit_form], html: { class: 'visit-form' } do |f| %>
          <%= f.input :title, label: 'Nom de la visite' %>
          <%= f.input :url, label: 'Lien vers la visite' %>
          <%= f.input :rooms_number, label: 'Nombre de pièces' %>
          <%= f.input :address, label: 'Adresse de la visite',
                input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"}
          %>
          <%= f.input :description, label: 'Description' , input_html: { rows: 5 }%>
          <div id="criteres">
            <%= f.simple_fields_for :criteres do |critere|%>
              <%= render 'critere_fields', f: critere %>
            <%end%>
            <div class="links">
              <%= link_to_add_association 'Ajouter un critère', f, :criteres%>
            </div>
          </div>
          <%= f.button :submit, 'Ajouter la visite', class: 'btn-submit' %>
        <% end %>
    </div>
  </div>

<%# ajout flatpicker
, as: :string, input_html: { data: { controller: "datepicker" } } %>
