
<div class="containernewvisit content">
  <h1 class="titre-form">Ajoute ta demande de visite !</h1>
    <div class="form">
        <%= simple_form_for [@visit_form], html: { class: 'visit-form' } do |f| %>
          <%= f.input :title, label: 'Nom de la visite' %>
          <%= f.input :url, label: "Lien vers l'annonce" %>
          <%= f.input :rooms_number, label: 'Nombre de pièces' %>
          <div>
          <%= f.input :address, label: 'Adresse de la visite',
                input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          </div>
          <div id="criteres">
            <span class="ajout-btn">
              <%= link_to_add_association '<i class="fa-solid fa-plus"></i> Ajouter un critère'.html_safe, f, :criteres%>
            </span>
          </div>
          <button type="button" class="btn btn-submit" data-bs-toggle="modal" data-bs-target="#confirmationModal">
          Ajouter la visite
          </button>
          <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Êtes-vous sûr de vouloir ajouter cette visite ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Annuler</button>
                <%= f.submit 'Envoyer', class: 'btn btn-submit' %>
              </div>
            </div>
          </div>
          </div>
        <% end %>
    </div>
</div>
