<div class="content">

  <h1 class = "show-title"><%= @visit_form.title %></h1>
  <div class="card-show-title ">
    <%= link_to user_path(@visit_form.user), class: "nav-link" do%>
    <h5><%= @visit_form.user.first_name.capitalize %> <%= @visit_form.user.last_name.capitalize %></h5>
      <hr>
      <% if @visit_form.user.photo.attached? %>
        <%= cl_image_tag @visit_form.user.photo.key, class: "avatar-show" %>
      <% else %>
        <img class="avatar-show" src="https://res.cloudinary.com/dhvssfzz1/image/upload/v1693474293/avatar-_mtc5tf.jpg" alt="">
      <% end%>
    <%end%>
    <b>Localisation du bien:</b><h5><%= @visit_form.address %></h5>
    <p><b>Nombre de pièces:</b> <span class="rooms-number"><%= @visit_form.rooms_number %></span></p>
    <p><i class="fa-solid fa-angle-right"></i> <a href="<%= @visit_form.url %>" target="_blank" class="truncate-text">Lien vers l'annonce</a></p>
  </div>

    <%if @visit_form.date.present?%>
      <div class="card-show-critere">
        <p><b>Date de la visite:</b> <%= @visit_form.date.strftime("%d/%m/%Y") %></p>
      </div>
    <%end%>

    <%if @visit_form.description.present?%>
      <div class="card-show-critere">
        <p><b>Description du bien:</b> <%= @visit_form.description %></p>
      </div>
    <%end%>

    <div class="mt-4"><h3>Critères à vérifier:</h3></div>
      <% if @visit_form.criteres.present?%>
        <% @visit_form.criteres.each do |critere|%>
          <% if critere.question.present? && critere.answer.present?%>
            <div class="card-show-critere">
              <p><b>Critère:</b> <%= critere.question %></p>
              <p><b>Réponse:</b> <%= critere.answer %></p>
              <% critere.photos.each do |photo| %>
              <%= image_tag photo, class: "rooms-photos"%>
              <% end %>
            </div>
          <%elsif critere.question.present?%>
            <div class="card-show-critere">
              <p><b>Critère:</b> <%= critere.question %></p>
            </div>
          <%end%>
        <%end%>
    <%else%>
        <p><%= @visit_form.user.first_name.capitalize %> n'a pas précisé de critères à verifier</p>
    <%end%>


  <% @visit_form.rooms.each do |room|%>
    <% if room.name.present? || room.description.present? %>
      <div class="card-show-title">
        <b><%= room.name %></b>
        <p><%= room.description %></p>
        <% room.photos.each do |photo| %>
        <%= image_tag photo, class: "rooms-photos"%>
        <% end %>
      </div>
    <%end%>
  <%end%>


  <div class="margin-div">
    <% if current_user == @visit_form.user && @visit_form.bookings.exists?(visit_form_id: @visit_form.id) == false %>
      <button type="button" class="btn button-supprimer" data-bs-toggle="modal" data-bs-target="#confirmationModal">
        Supprimer la visite
      </button>
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Etes vous sûr de vouloir supprimer cette visite ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Annuler</button>
                <%=link_to "Supprimer la visite", visit_form_path(@visit_form), data: {turbo_method: :delete}, class:"btn button-supprimer-mod"%>
              </div>
            </div>
          </div>
        </div>
    <%elsif current_user.bookings.exists?(visit_form_id: @visit_form.id) %>
      <% user_booking = @visit_form.bookings.find_by(user_id: current_user.id) %>
        <% if user_booking.status == "validée" %>
          <%= link_to "Editer mon compte-rendu", edit_visit_form_path(@visit_form), class: "btn button-reserver" %>
          <button type="button" class="btn button-terminer" data-bs-toggle="modal" data-bs-target="#confirmationModal">
          Envoyer le compte-rendu
          </button>
          <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Etes vous sûr de vouloir finaliser cette réservation, vous ne pourrez plus la modifier ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Annuler</button>
                <%= link_to "Envoyer", ended_path(@visit_form), data: { turbo_method: :patch}, class: "btn button-terminer-mod" %>
              </div>
            </div>
          </div>
          </div>
        <%elsif user_booking.status == "en attente de validation"%>
          <div class="btn button-reserver">En attente de validation</div>
        <%elsif user_booking.status == "terminée"%>
        <div class="btn button-reserver">Votre rapport de visite a été envoyé</div>
        <%elsif user_booking.status == "rejetée"%>
          <div class="btn button-reserver">Rejetée</div>
        <%end%>

    <% elsif  current_user == @visit_form.user && @visit_form.bookings.exists?(visit_form_id: @visit_form.id) %>
      <div class="btn button-reserver">Votre visite a été réservée</div>
    <% else %>
      <button type="button" class="btn button-reserver" data-bs-toggle="modal" data-bs-target="#confirmationModal">
          Réserver la visite
      </button>
      <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Êtes-vous sûr de vouloir réserver cette visite ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Annuler</button>
            <%=link_to "Réserver la visite", visit_form_bookings_path(@visit_form), data: {turbo_method: :post}, class:"btn button-re-mod"%>
          </div>
        </div>
      </div>
      </div>
    <%end%>
  </div>

  <div style="width: 100%; height: 350px; border-radius: 7px;"
    data-controller="map"
    data-map-markers-value="<%= [@marker].to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
