<div class="content">
<div class="container chatroom">
<div class="chats">
<div class="container chatroom"
data-controller="chatroom-subscription"
data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id%>"
>
  <p class="chatrooom-title">
  <% if current_user != @chatroom.other_user %>
        <i><p class="chatrooom-title">Chat avec <%= @chatroom.other_user.first_name %></p></i>
      <% else %>
        <i><p class="chatrooom-title">Chat avec <%= @chatroom.user.first_name %></p>
      <% end %></p>
  <div class="chatroom-content">
    <div class="chats" data-chatroom-subscription-target="chats">
      <% @chatroom.chats.each do |chat| %>
        <%= render "chats/chat", chat: chat %>
      <% end %>
    </div>



    <%= simple_form_for [@chatroom, @chat],
      html: {class: "d-flex", data: {chatroom_subscription_target: "form"}} do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Chat ##{@chatroom.name}",
        wrapper_html: {class: "search"}
      %>
      <%= f.submit "Send", class: "btn btn-search" %>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
