<div class="content">
  <div class="container chatroom">
    <div class="chats">
      <div class="container chatroom"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id%>"
      data-chatroom-subscription-user-id-value="<%= current_user.id%>"
      >
        <div class="chatroom-content">
          <div class="chats" data-chatroom-subscription-target="chats">
            <% @chatroom.chats.each do |chat| %>
              <%= render "chats/chat", chat: chat %>
            <% end %>
          </div>
<div class="bouton-bas">
          <%= simple_form_for [@chatroom, @chat],
            html: {class: "d-flex", data: {chatroom_subscription_target: "form"}} do |f|
          %>
            <%= f.input :content,
              label: false,
              placeholder: "Ecrivez un message...",
              wrapper_html: {class: "search"},
              input_html: {class: "custom-input-class"}
            %>
            <%= button_tag(type: 'submit', class: 'btn btn-send') do %>
              <i class="fas fa-paper-plane"></i>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
