<div class="content">
  <% if @user == current_user %>
    <h1> Mon profil </h1>
    <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
    <h3>Mes avis reçus</h3>
    <% if current_user.received_reviews.empty? %>
        <small><em class="text-muted">Tu n'as pas encore d'avis </em></small>
      <% end %>
    <% current_user.received_reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p><%= review.comment %></p>
        </div>
        <hr>
      <% end %>
    <div>
  <% else %>
  <h3>Avis sur <%= @user.first_name.capitalize %></h3>
    <% if @user.received_reviews.empty? %>
        <small><em class="text-muted">Soit le premier à laisser un avis à <%= @user.first_name.capitalize %> !</em></small>
      <% end %>
      <% @user.received_reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p><%= review.comment %></p>
        </div>
        <hr>
      <% end %>
    </div>
      <div>
        <h5>Laisse un avis</h5>
        <%= simple_form_for [@user, @review] do |f| %>
          <%= f.input :rating, as: :select, collection: 1..5, include_blank: "Ajoute une note", required: true, label: false, input_html: { data: { controller: "star-rating" } } %>
          <%= f.input :comment, placeholder: "Ajoute un commentaire", label: false %>
          <%= f.submit class: "btn", value:"Envoyer mon avis" %>
        <% end %>
      </div>
  <% end %>
</div>
