<div class="bottom-menu">
  <%= link_to "Trouver une visite", visit_forms_path, class: "nav-link" %>
  <%= link_to "Ajouter une visite", new_visit_form_path, class: "nav-link" %>
  <%=link_to "Guide" %>
  <%=link_to "Messagerie"%>
  <%= link_to "Tableau de bord", control_path, class: "nav-link"%>
</div>
