<div class="bottom-menu">
  <%= link_to visit_forms_path, class: "nav-link" do %>
  <i class="fa-solid fa-magnifying-glass"></i>
  <% end %>
  <%= link_to control_path, class: "nav-link" do %>
  <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to new_visit_form_path, class: "nav-link" do %>
  <i class="fa-solid fa-plus"></i>
  <% end %>
  <%=link_to do %>
  <i class="fa-solid fa-book"></i>
  <% end %>
  <%=link_to do %>
  <i class="fa-solid fa-envelope"></i>
  <% end %>
</div>
