<div id="chat-<%= chat.id %>">
  <% if chat.user == current_user %>
    <div class="current_user_chat chat-box">
      <small>
        <p><%= chat.created_at.strftime("%a %b %e at %l:%M %p") %></p>
      </small>
      <strong><%= chat.user.first_name %></strong>
      <p><%= chat.content %></p>
    </div>
  <% else %>
    <div class="other_user_chat chat-box">
      <small>
        <p><%= chat.created_at.strftime("%a %b %e at %l:%M %p") %></p>
      </small>
      <strong><%= chat.user.first_name %></strong>
      <p><%= chat.content %></p>
    </div>
  <% end %>
</div>
